{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>


<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">О нас</h5>
    <div class="card-body">
        <p class="card-text">Этот потрясающий блог создан на основе нашего любимого фреймворка full stack "Django"</p>
        <a href="https://github.com/Xenob1na?tab=repositories"
           class="btn btn-danger">Узнай больше!</a>
    </div>
</div>
</div>

{% endblock sidebar %}